<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Login | Toko Online PW{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="title-section" class="text-center">
    <h3>Login Page</h3>
</section>

<section id="form-section" class="text-center">
    <form method="POST" action="/auth/login/">
        {% csrf_token %}
        <div id="input-section">
            {% for field in form %}
            <span><p class="errors">{{ field.errors }}</p></span>
            <p class="text-left">{{ field.label_tag }} <br></p>
            <span class="">{{ field }}</span>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-success button" name="login">Login</button>
    </form>

    <h5>login with <a href="{% url 'social:begin' 'google-oauth2' %}">google</a>, or <a href="{% url 'authentication:signup' %}">sign up</a> manually</h5>
</section>

{% endblock %}