<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Sign Up | Toko Online PW{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authentication/signup.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="title-section" class="text-center">
    <h3>Sign Up Page</h3>
</section>

<section id="form-section" class="text-center">
    <form method="POST" action="/auth/signup/">
        {% csrf_token %}
        <div id="input-section">
            {% for field in form %}
            <span><p class="errors">{{ field.errors }}</p></span>
            <p class="text-left">{{ field.label_tag }} <br></p>
            <span class="">{{ field }}</span>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-success button" name="signup">Login</button>
    </form>
</section>

{% endblock %}