:root {
    --color-darkblue: #2F3A80; /* for nav and header text */
    --color-purple: #9D99CC; /* for background */
    --color-lightpurple: #BAB8DA; /* for background (MAIN) */
    --color-whitesand: #DFDFDF; /* for text mainly */
    --color-skyblue: #75AAD2; /* for container base */
    --color-oceanblue: #5183AF; /* for container base */ 
    --color-white: #ffffff; /* for container base */
    --color-black: #000000; /* for descriptive text */

    --font-montserrat: 'Montserrat';
}

html {
    overflow-x: hidden;
    background-color: var(--color-lightpurple);
}

h1 {
    font-family: var(--font-montserrat);
    font-size: 6em;
    font-weight: 800;
    color: var(--color-black);
}

h2 {
    font-family: var(--font-montserrat);
    font-size: 3em;
    font-weight: 800;
    color: var(--color-black);
}

h3 {
    font-family: var(--font-montserrat);
    font-size: 2.5em;
    font-weight: 500;
    color: var(--color-black);
}

h5 {
    font-family: var(--font-montserrat);
    font-size: 1.1em;
    font-weight: 100;
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: 2px;
}

h6 {
    font-family: var(--font-montserrat);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1.5;
}

p {
    font-family: var(--font-montserrat);
    line-height: 1;
    color: var(--color-black);
}

/* Title Section */
#title-section {
    margin-top: 15vh;
}

/* Form Section */
#form-section {
    margin-bottom: 3vh;
    padding: 5vh 35vw 0vh 35vw;
}

    /* Input Section */

    span p.errors {
        font-family: var(--font-rubik);
        font-weight: 400;
        color: var(--color-yellow);
    }

    form p {
        line-height: 1.5;
        margin: 0;
        font-family: var(--font-lato);
        font-weight: 400;
        color: var(--color-pale-yellow);
        text-shadow: 0.5px 0.5px var(--color-soft-pink);
    }

    #id_username {
        /* width: 84%;
        display: inline-block; */
        width: 100%;
        font-family: var(--font-rubik);
        padding-top: 0px;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 35px;
    }

    #id_password {
        /* width: 84%;
        display: inline-block; */
        width: 100%;
        font-family: var(--font-rubik);
        padding-top: 0px;
        margin-bottom: 2vh;
        border-radius: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 35px;
    }

    #input-section {
        margin-bottom: 3vh;
    }

    /* Button Section */

    .btn {
        width: 100%;
        color: var(--color-yellow);
        font-family: var(--font-rubik);
        font-weight: 600;
        border-radius: 5px;
        border: 1.5px solid;
        margin: 0px 0px 5vh;
    }

    .btn.btn-success {
        background-color: cadetblue;
        border-color: lightgreen;
    }

    .btn.btn-success:hover {
        filter: opacity(80%);
        color: var(--color-black);
    }

/* Other Method Section */
h5 a {
    font-weight: 700;
    color: var(--color-darkblue);
}

h5 a:hover {
    text-decoration: none;
}