<!DOCTYPE html>
<body>


</head>
{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
{% load crispy_forms_tags %}
<div class="container">

<form method="GET">
     <div class="row" class="ui-widget">
          {% csrf_token %}
          <div class="form-group col-md-2 mb-0">
          <div class="col-mb-4 " >
               {{option_form|crispy}} 
          </div>
          </div>
          <div class="form-group col-md-2 mb-0" >
          <div class="col-mb-5" >
               {{search_form|crispy}}
          </div>
          </div>
          <div class="col-md-2 mb-0">
               <input style="font-size: 16px;" type='submit' class="btn btn-primary" value="Cari">       
          </div>
        </div>
</form>

{% if coupon_deploy %}
{% for coupon, price, hour, minute, day, month, year in coupon_deploy %}

<div style="margin-bottom: 35px;" class="card flex-row flex-wrap">
     <div style="background-color: white;" class="card-header border-1">
          <img align="left" src="https://previews.123rf.com/images/ogonkova/ogonkova1807/ogonkova180700051/106307649-golden-ticket-gift-certificate-gift-voucher-vector-template-design-with-star-golden-background-usefu.jpg" border="0" width=240>
     </div>
     <div class="card-block px-2">
         <h4 class="card-title" id="{{coupon.discount_percentage}}" ><strong>DISKON {{coupon.discount_percentage}}%</strong></h4>
         <p class="card-text" id="{{coupon.coupon_code}}">Kode: <strong>{{coupon.coupon_code}}</strong></p>
         <p class="card-text">Dengan biaya minimum pembelanjaan Rp.{{ price }},00.
          <p class="card-text">Ayo cepat gunakan sebelum <strong>jam {{hour}}.{{minute}} WIB tanggal {{day}}/{{month}}/{{year}}</strong></p>
     </div>
</div>
{% endfor %}
{% else %}
<h1>Kupon tidak ditemukan :(</h1>
{% endif %}
<input type="hidden" id="json_data" name="json_data" value="{{json_data}}">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
     function autocomplete(inp, arr) {
       /*the autocomplete function takes two arguments,
       the text field element and an array of possible autocompleted values:*/
       var currentFocus;
       /*execute a function when someone writes in the text field:*/
       inp.addEventListener("input", function(e) {
           var a, b, i, val = this.value;
           /*close any already open lists of autocompleted values*/
           closeAllLists();
           if (!val) { return false;}
           currentFocus = -1;
           /*create a DIV element that will contain the items (values):*/
           a = document.createElement("DIV");
           a.setAttribute("id", this.id + "autocomplete-list");
           a.setAttribute("class", "autocomplete-items");
           /*append the DIV element as a child of the autocomplete container:*/
           this.parentNode.appendChild(a);
           /*for each item in the array...*/
           for (i = 0; i < arr.length; i++) {
             /*check if the item starts with the same letters as the text field value:*/
             if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
               /*create a DIV element for each matching element:*/
               b = document.createElement("DIV");
               /*make the matching letters bold:*/
               b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
               b.innerHTML += arr[i].substr(val.length);
               /*insert a input field that will hold the current array item's value:*/
               b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
               /*execute a function when someone clicks on the item value (DIV element):*/
               b.addEventListener("click", function(e) {
                   /*insert the value for the autocomplete text field:*/
                   inp.value = this.getElementsByTagName("input")[0].value;
                   /*close the list of autocompleted values,
                   (or any other open lists of autocompleted values:*/
                   closeAllLists();
               });
               a.appendChild(b);
             }
           }
       });
       /*execute a function presses a key on the keyboard:*/
       inp.addEventListener("keydown", function(e) {
           var x = document.getElementById(this.id + "autocomplete-list");
           if (x) x = x.getElementsByTagName("div");
           if (e.keyCode == 40) {
             /*If the arrow DOWN key is pressed,
             increase the currentFocus variable:*/
             currentFocus++;
             /*and and make the current item more visible:*/
             addActive(x);
           } else if (e.keyCode == 38) { //up
             /*If the arrow UP key is pressed,
             decrease the currentFocus variable:*/
             currentFocus--;
             /*and and make the current item more visible:*/
             addActive(x);
           } else if (e.keyCode == 13) {
             /*If the ENTER key is pressed, prevent the form from being submitted,*/
             e.preventDefault();
             if (currentFocus > -1) {
               /*and simulate a click on the "active" item:*/
               if (x) x[currentFocus].click();
             }
           }
       });
       function addActive(x) {
         /*a function to classify an item as "active":*/
         if (!x) return false;
         /*start by removing the "active" class on all items:*/
         removeActive(x);
         if (currentFocus >= x.length) currentFocus = 0;
         if (currentFocus < 0) currentFocus = (x.length - 1);
         /*add class "autocomplete-active":*/
         x[currentFocus].classList.add("autocomplete-active");
       }
       function removeActive(x) {
         /*a function to remove the "active" class from all autocomplete items:*/
         for (var i = 0; i < x.length; i++) {
           x[i].classList.remove("autocomplete-active");
         }
       }
       function closeAllLists(elmnt) {
         /*close all autocomplete lists in the document,
         except the one passed as an argument:*/
         var x = document.getElementsByClassName("autocomplete-items");
         for (var i = 0; i < x.length; i++) {
           if (elmnt != x[i] && elmnt != inp) {
             x[i].parentNode.removeChild(x[i]);
           }
         }
       }
       /*execute a function when someone clicks in the document:*/
       document.addEventListener("click", function (e) {
           closeAllLists(e.target);
       });
     }
     
     var data = jQuery.parseJSON($("#json_data").val());
     var all_coupon_code = data.code;
     var all_coupon_discount = data.discount;
     console.log(all_coupon_code)
     
     /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
     
     autocomplete(document.getElementById("search_field"), all_coupon_code);
     </script>
</div>
{%endblock%}