:root {
    --color-darkblue: #2F3A80; /* for nav and header text */
    --color-purple: #9D99CC; /* for background */
    --color-lightpurple: #BAB8DA; /* for background (MAIN) */
    --color-whitesand: #DFDFDF; /* for text mainly */
    --color-skyblue: #75AAD2; /* for container base */
    --color-oceanblue: #5183AF; /* for container base */ 
    --color-white: #ffffff; /* for container base */
    --color-black: #000000; /* for descriptive text */

    --font-montserrat: 'Montserrat';
}

html {
    overflow-x: hidden;
    background-color: var(--color-lightpurple);
}

h1 {
    font-family: var(--font-montserrat);
    font-size: 6em;
    font-weight: 800;
    color: var(--color-black);
}

h2 {
    font-family: var(--font-montserrat);
    font-size: 3em;
    font-weight: 800;
    color: var(--color-black);
}

h3 {
    font-family: var(--font-montserrat);
    font-size: 2.5em;
    font-weight: 500;
    color: var(--color-black);
}

h5 {
    font-family: var(--font-montserrat);
    font-size: 1.3em;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1.5;
}

h6 {
    font-family: var(--font-montserrat);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1.5;
}

p {
    font-family: var(--font-montserrat);
    line-height: 1;
    color: var(--color-black);
}

#container {
    padding-left: 15%;
    padding-right: 15%;
}

.item-card {
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

    padding: 3%;
    border-radius: 50px;
}

.review-card {
    width: 100%;
    height: 25vh;
    background-color: var(--color-white);

    /* margin: 1% 2.5% 1% 2.5%; */
    
    padding: 5% 5%;
    border-radius: 20px;
}

.review-date {
    font-size: 0.9em;
    font-style: italic;
    color: cadetblue;
}

.review-review {
    font-size: 1.1em;
    font-weight: 400;
}

.review-wrapper {
    margin-bottom: 10px;
}

#review-cards {
    justify-content: center;
}

#form-section {
    margin-top: 5%;
    margin-bottom: 5%;
}