<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Your Cart{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid pt-5 pl-5 pr-5">
    <div class="container1 pt-5 px-5" style="background-color: white; height: 640px;">
        <strong>
            <div class="judul-cart">
                Your Shopping Cart
            </div>
        </strong>
        
        <strong>
            <div class="cart-row judul-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
        </strong>
        
    </div>
</div>


{% endblock %}