<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Catalouges{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'catalogues.css' %}">
<link rel="stylesheet" href="{% static 'cart.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<section class="container content-section">
    <div class="shop-items">
        {% for item in kunci %}
        <div class="shop-item">
            <div class="card" style="width: 202px; border-width: 3px; border-color: #2F3A80;">
                <div style="height: 202x;">
                    <a href="{% url 'details' item.id %}" > <img class="card-img-top gambar" src="https://i.imgur.com/vhcUP8n.png"> </a>
                </div>
            </div>
            <div class="line2">
                <strong>
                    <div style="line-height: 0.8;"><br></div>
                    <span class="shop-item-title"><p style="font-size: 20px;">{{ item.nama }}</p></span>
                    <span class="shop-item-price"><p style="font-size: 15px;">Rp. {{ item.harga }}</p></span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </strong>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</section>

<div class="container">

        <div class="cart col-12 pt-4 pl-4">
            <strong>
                <div class="judul-cart">
                    Your Shopping Cart
                </div>
            </strong>
            
            <strong>
                <div class="cart-row judul-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">PRICE</span>
                    <span class="cart-quantity cart-header cart-column">QUANTITY</span>
                </div>
            </strong>

            <div class="cart-items">
            </div>

            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">Rp.0</span>
            </div>

            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
            
        </div>
</div>

<script src="{% static 'cart.js' %}" async></script>
{% endblock %}