<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %}Details{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'catalogues.css' %}">
<link rel="stylesheet" href="{% static 'cart.css' %}">
<style>
    .btn-plus {
      background-image: url("{% static 'catalogues/count_plus.svg' %}");
      right: 0;
    }
    .btn-min {
      background-image: url("{% static 'catalogues/count_min.svg' %}");
      left: 0;
    }
</style>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container-fluid pt-5 pl-5 pr-5">
    <div class="container1 pt-5 px-5" style="background-color: white; height: 640px;">
        
        <div style="display: flex; align-items: center;">
        <div class="card" style="width: 330px; height: 395px; border-width: 3px; border-color: #2F3A80;">
            <img class="gambar3" src="https://i.imgur.com/vhcUP8n.png">
        </div>
        <div class="line">
            <strong>
            <p style="font-size: 64px; color: #2F3A80;">{{ kunci.nama }}</p>
            <p style="font-size: 42px;">{{ kunci.harga }}</p>
            </strong>
            <p style="font-size: 32px;">Stok: {{ kunci.stok }}</p>   
            <p style="font-size: 32px;">{{ kunci.deskripsi }}</p>
            
        </div>
        </div>

        <div class="container2" style="justify-content:flex-end">   
            <a href="{% url 'catalogues' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
            <br>
            <a href="{% url 'trans' kunci.id %}"><button type="button" class="btn btn-primary">Buy Now</button></a>
            <br>
            <a href="{% url 'review' kunci.nama %}"><button type="button" class="btn btn-primary">Review</button></a>
        </div>
    </div>
</div>


{% endblock %}