.cart{
    margin-bottom: 100px;
}

.cart-row {
    display: flex;
    font-family: 'Montserrat';
    color: #2F3A80;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.judul-cart {
    font-family: 'Montserrat';
    color: #2F3A80;
    padding-bottom: 30px;
    font-size: 4rem;
}

.judul-row {
    font-size: 2rem;
}

.input-number {
    width: 205px;
    height: 50px;
}

input[type="number"] {
    font-size: 1.333rem;
    font-weight: bold;
    width: 205px;
    height: 50px;
    border: none;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.25);
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}