.gambar {
    width: 195px;
    height: 195px;
}

.gambar2 {
    width: 16rem;
    height: 16rem;
}

.gambar3 {
    width: 324px;
    height: 385px;
}

.line {
    line-height: 1.3;
    font-family: 'Montserrat';
}

.line1 {
    line-height: 2.4;
    color: #DFDFDF;
    font-family: 'Montserrat';
    font-size: 20px;
}

.line2 {
    line-height: 0.5;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-top: 70px;
    margin-left: 130px;
    margin-right: 130px;
    background-color: white;
}
