html {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #BAB8DA;

    overflow-x: hidden;
}


body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #BAB8DA;
}

