body {
    font-family: 'Montserrat', sans-serif;
}

.card {
    border-radius: 30px;
}
.card-header {
    margin-left: 20px;
}
.card img {
    margin: auto;
    
}
.card-title {
    color: #2F3A80;
    font-size: 32px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .card {
        justify-content: center ;
    }
}