:root {
    --color-darkblue: #2F3A80; /* for nav and header text */
    --color-purple: #9D99CC; /* for background */
    --color-lightpurple: #BAB8DA; /* for background (MAIN) */
    --color-whitesand: #DFDFDF; /* for text mainly */
    --color-skyblue: #75AAD2; /* for container base */
    --color-oceanblue: #5183AF; /* for container base */ 
    --color-white: #ffffff; /* for container base */
    --color-black: #000000; /* for descriptive text */

    --font-montserrat: 'Montserrat';
}

html {
    overflow-x: hidden;
    background-color: var(--color-darkblue);
}

h1 {
    font-size: 6em;
    font-weight: 800;
    color: var(--color-black);
}

h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--color-black);
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--color-black);
}

h5 {
    font-size: 1.3em;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1.5;
}

h6 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-black);
    line-height: 1.5;
}

p {
    font-family: var(--font-montserrat);
    line-height: 0.5;
    color: var(--color-black);
}


.item-card {
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;

    padding: 3%;
    border-radius: 50px;
}

.review-card {
    background-color: var(--color-white);

    margin: 1% 1% 1% 0%;
    
    border-radius: 20px;
}

#review-cards {
    padding-left: -5%;
}

#form-section {
    margin-top: 5%;
}