<!DOCTYPE html>

<style>
    nav {
        width: 100vw;
    }
    
    strong {
        font-weight: 800;
    }

    nav > a > strong {
        color: #DFDFDF;
        font-family: 'Montserrat';
        font-size: 1.75rem;
    }

    .nav-item > strong {
        color: #DFDFDF;
        font-family: 'Montserrat';
    }

    .navbar-nav {
        padding: 0 1vw 0 0;
    }

</style>

<nav class="navbar sticky-top navbar-expand-md navbar-light px-4 py-3" style="background: #2F3A80;">
    <a class="navbar-brand" href="{% url 'landing:landing' %}"><strong>PW's Hobby Shop</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto"></div>
    <div class="navbar-nav">
        <a class="nav-item nav-link ml-3" href="{% url 'catalogues' %}"><strong>Catalogues</strong></a>
        <a class="nav-item nav-link ml-3" href="{% url 'coupon_page' %}"><strong>Coupons</strong></a>
        <a class="nav-item nav-link ml-3" href="{% url 'recent-trans' %}"><strong>History</strong></a>
        <a class="nav-item nav-link ml-3" href=""><strong>Categories</strong></a>
        <a class="nav-item nav-link ml-3" href=""><strong>|</strong></a>
        {% if not request.user.is_authenticated %}
            <a class="nav-item nav-link ml-3" href="{% url 'authentication:login' %}"><strong>Login</strong></a>
        {% else %}
            {% if not request.user.first_name == '' %}
                {% if not request.user.last_name == '' %}
                    <a class="nav-item nav-link ml-3" href=""><strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong></a>
                    <a class="nav-item nav-link" href="{% url 'authentication:logout' %}"><strong>Logout</strong></a>
                {% else %}
                    <a class="nav-item nav-link ml-3" href=""><strong>{{ request.user.first_name }}</strong></a>
                    <a class="nav-item nav-link" href="{% url 'authentication:logout' %}"><strong>Logout</strong></a>
                {% endif %}
            {% else %}
                <a class="nav-item nav-link ml-3" href="" id="LoggedName"><strong>{{ request.user.username }}</strong></a>
                <a class="nav-item nav-link" href="{% url 'authentication:logout' %}"><strong>Logout</strong></a>
            {% endif %}
        {% endif %}
    </div>
  </div>
</nav>
