<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Reviews of {{ product.nama }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'review.css' %}">
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div id="container">
    <section id="review-section">
        <div class="item-card">
            <div class="item-img">
                <img src="https://i.imgur.com/vhcUP8n.png" alt="naruto" width="200px">
            </div>
            <div class="item-desc">
                <h2>{{ product.nama }}</h2>
                <h3><strong>Rp. {{ product.harga }}</strong></h3>
                <p>{{ product.deskripsi }}</p>
            </div>
        </div>
        
        <div id="review-cards" class="row">
            {% for review in review_per_product %}
            <div class="review-wrapper col-lg-4">
                <div class="review-card">
                    <h5><strong>{{ review.review_name }}</strong> dari {{ review.review_city }}</h5>
                    <p class="review-date">posted on {{ review.review_date }}</p>
                    <p class="review-review"> {{ review.review_review }} </p>
                    <h6><strong>rated {{ review.review_star }} out of 5</strong></h6>
                </div>
            </div>
            {% endfor %} 
        </div>
    </section>
    
    <section id="form-section">
        <h2>Review</h2>

        <form method="POST">
            {% csrf_token %}
            {{ review_form|crispy }}
    
            <button type="submit">Submit</button>
        </form>
    </section>
</div>


{% endblock %}