{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout your Cart{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'histori.css' %}">
<link rel="stylesheet" href="{% static 'autocomplete-styling.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div style="margin-top: 35px;" class="row">
        <h2>Checkout</h2>
    </div>
    <div style="margin-top: 20px;" class="row">
        <h3 id="user_in_page">Hello, <strong>{{ user.username }}</strong> here are your transaction.</h3>
    </div>
    <div style="margin-top: 20px;" class="row">
        <div class="col" id="transaction-content">

        </div>
    </div>
    <div style="margin-top: 20px;" class="row">
        <div class="col" id="coupon-suggestion">
            <form action="">
                <p>{{option_form}}{{coupon_form}}</p>
            </form>
        </div>
    </div>
    <div style="margin-top: 20px;" class="row">
        <div class="col" id="sum-transaction">
            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li id="result" class="list-group-item">Total Transaksi Keseluruhan : </li>
                </ul>
              </div>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 50px;" class="row">
        <div class="col ml-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="button" style="float: right" id="finish-trans" class="btn btn-success btn-lg" value="Finish Up your Transaction">
            </form>
            <!-- <button method="POST" style="float: right" id="finish-trans" type="button" class="btn btn-success btn-lg">Finish up your transaction</button>    -->
            <!-- <button action="" style="float: left" type="button" class="btn btn-warning btn-lg"><- Back to Cart</button> -->
            <form action="/"> 
                <input style="float: left" type="button" class="btn btn-warning btn-lg" value="<- Back to Cart">
            </form>
        </div>
    </div>
</div>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<input type="hidden" id="json_data" name="json_data" value="{{json_data}}">
<input type="hidden" id="coupon_used" name="coupon_used" value="">
<script src="{% static 'checkout.js' %}"></script>
<script type="text/javascript" src="{% static 'animate.js' %}"></script>
{% endblock %}
{% endblock %}