{% extends 'base.html' %}
{% load static %}
{% block title %}Recent Transaction{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'histori.css' %}">
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div style="margin-top: 35px;" class="row">
        <h2>Recent Transaction</h2>
    </div>
    <div style="margin-top: 20px;" class="row">
        <div class="col">
            {% for item in trans %}
            <div style="margin-bottom: 35px;" class="card flex-row flex-wrap">
                <div style="background-color: white;" class="card-header border-1">
                    <img class="card img" width="200px" src="https://i.imgur.com/vhcUP8n.png" alt="">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title"><strong>{{ item.barang }}</strong></h4>
                    <p class="card-text">Nama Pembeli: <strong>{{ item.pembeli }}</strong></p>
                    <p class="card-text">Kupon: <strong>{{ item.kupon }}</strong></p>
                    <p class="card-text">Total Transaksi: <strong>Rp. {{ item.total_harga }}</strong></p>
                    <p class="card-text">Tanggal Pembelian: <strong>{{ item.tanggal_beli }}</strong></p>
                    <br>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}