:root {
    --color-darkblue: #2F3A80; /* for nav and header text */
    --color-purple: #9D99CC; /* for background */
    --color-lightpurple: #BAB8DA; /* for background (MAIN) */
    --color-whitesand: #DFDFDF; /* for text mainly */
    --color-skyblue: #75AAD2; /* for container base */
    --color-oceanblue: #5183AF; /* for container base */ 
    --color-white: #ffffff; /* for container base */
    --color-black: #000000; /* for descriptive text */

    --font-montserrat: 'Montserrat';
}

html {
    overflow-x: hidden;
}

h1 {
    font-size: 6em;
    font-weight: 800;
    color: var(--color-white);
}

h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--color-white);
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
    color: var(--color-white);
}

h5 {
    font-size: 1.3em;
    font-weight: 500;
    color: var(--color-whitesand);
    line-height: 1.5;
}

h6 {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--color-white);
    line-height: 1.5;
}

p {
    font-family: var(--font-montserrat);
    line-height: ;
    color: var(--color-white);
}

/* ===================== Jumbotron ===================== */

#jumbotron {
    margin-top: 3%;
    background-color: var(--color-skyblue);
    font-family: var(--font-montserrat);
}

#jumbotron > .row > .leftrow {
    padding: 5% 4% 5% 8%;
}

#jumbotron > .row > .rightrow {
    padding: 5% 8% 5% 4%;
}

#maintitle {
    text-shadow: 8px -5px var(--color-oceanblue);
}

/* Media Queries for Jumbotron */

@media only screen and (max-width: 1400px) {
    #jumbotron {
        font-size: 14px;
    }
}


/* ===================== Barang ===================== */

#barang {
    width: 80%;
    /* height: 100vh; */
    background-color: var(--color-white);
    margin: 5% 10%;
    padding: 3% 3% 1.5%;
}

.barang-desc {
    margin-top: 10px;
    background-color: var(--color-oceanblue);
    padding: 5%;
}

/* ===================== About Us ===================== */

#aboutus {
    width: 100%;
    height: 50vh;
    background-color: var(--color-skyblue);
    margin: 5% 0% 0% 0%;
    padding: 5% 10%;

    font-family: var(--font-montserrat);
}